<launch>
  <node name="luis_test" pkg="ros_msft_luis" type="ros_msft_luis_node" output="screen">
    <param name="luisendpoint" value="<endpoint>" />
    <param name="speechendpoint" value="<endpoint>" />
    <param name="key" value="<luis key>" />
    <param name="region" value="<luis reguin>" />
    <param name="appid" value="<luis appid>" />
  </node>
</launch>
